<!DOCTYPE html> 
<html lang="en">
<head>
{% include 'top_links.html' %}
</head>

<body>
{% include 'navbar.html' %}

    <div class="first_page">
    {% include 'top_section.html' %}
    {% include 'word_from_executive.html' %}
    {% include 'packages.html' %}
    {% include 'destinations.html' %}
    </div>
    <!-- END first Page -->


    <div class="second_page">
        {% include 'second_page.html' %}
    </div>
    <!-- END second Page -->

    <div class="third_page">
        {% include 'third_page.html' %}
    </div>
    <!-- END second Page -->

{% include 'footer.html' %}
{% include 'bottom_links.html' %} 
</body>

</html>