<div class="article-list" style="background-color:rgba(231,242,232,0.71);">
            <div class="intro">
                <h2 class="text-center"><i class="fa fa-shopping-basket" style="color:rgb(18,37,20);"></i>&nbsp;Holiday Packages</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <style>
                .articles{
                    overflow-x: scroll;
                    overflow-y: hidden;
                    white-space: nowrap;
                    -webkit-overflow-scrolling: touch;
                }
                
                .articles {
                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
                
                .item{
                    display: inline-block;
                    white-space: pre-line;
                }
                
                .articles-flexbox {
                  display: flex;
                  flex-wrap: nowrap;
                  overflow-x: auto;
                
                  .item {
                    flex: 0 0 auto;
                  }
                }
</style>


            <button class="leftArrow">Left Arrow</button>
            <button class="rightArrow">Right Arrow</button>

            <div class="articles">
                <!-- <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/desk.jpg') }}"></a>
                    <h3 class="name">Adventure Tours</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div>  
                <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/building.jpg') }}"></a>
                    <h3 class="name">Corporate Travels</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/loft.jpg') }}"></a>
                    <h3 class="name">Beach Holidays</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/desk.jpg') }}"></a>
                    <h3 class="name">Adventure Tours</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/building.jpg') }}"></a>
                    <h3 class="name">Adventure Tours</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 item"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/loft.jpg') }}"></a>
                    <h3 class="name">Beach Holidays</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:rgb(55,126,63);"></i></a>
                </div> -->
    </div>
    </div>