<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Packages.css') }}">


<section class="probootstrap_section" id="section-holidays">
    <div class="container">
      <div class="row text-center mb-5 probootstrap-animate">
        <div class="col-md-12">
          <h2 class="display-4 border-bottom probootstrap-section-heading package_heading">Holiday Packages</h2>
        </div>
      </div>

      <div class="owl-carousel js-owl-carousel-2 articles">
        
      </div>
    </div>
  </section>