<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    .display_container {
    height:50px;
    width:200px;
    overflow:hidden;
    background:crimson;
}
#filler {
    height:50px;
    width:250px;
    position:relative;
    border-radius:10px; 
    -webkit-transition: left 0.3s ease;
}
.module {
    width:50px;
    height:50px;
    border-radius:5px;
    float:left;
    line-height:50px;
    text-align:center;
}
</style>

    <!-- <button onmouseover="left=1" onmouseout="left=0"> -->
        </button>
            <div class="display_container">
                <div id="filler" style="left:0px">
                    <div class="module" style="background:coral;">testing</div>
                    <div class="module" style="background:lightblue;">testing</div>
                    <div class="module" style="background:lightgreen;">testing</div>
                    <div class="module" style="background:salmon;">testing</div>
                    <div class="module" style="background:lightyellow;">testing</div>
                </div>
            </div>
            <!-- <button onmouseover="right=1" onmouseout="right=0">></button> -->

            <script>
                var feft = 0
//feft stands for filler left
var right = 0
var left = 0
var position = 0;

function move() {
    if (position <= 4) {
        position++;
    } else {
        position = 0;
    }
    
    moduleOffset =  document.querySelector(".module").offsetWidth;
    
    filler = document.querySelector("#filler");
    
    filler.style.left = -( position* moduleOffset) + "px";
    
}

setInterval(move, 1000);
            </script>

</body>
</html>