<section class="" id="section-packages">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="jumbotron image1 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button" onclick='$("#openModal").show()'>Book Package</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron image2 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button" onclick='$("#openModal").show()'>Book Package</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron image3 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button" onclick='$("#openModal").show()'>Book Package</a></p>
                            </div>
                        </div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
                    <ol
                        class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                </div>
      </section>


        <div class="description" id="description">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5" style="padding: 0px;">
                        <img class="img img-responsive image1_div col-sm-12" />
                    </div>
                    <div class="col-sm-7" style="padding: 0px;">
                        <p><h5>Categories Available In This Package:</h5> <span class="package_category"></span></p><br />
                        <p><h5>Price:</h5><span class="package_price"></span> USD for <span class="package_duration"></span> days</p><br />
                        <p><h5>Details:</h5><span class="second_page_package_details"></span></p><br />
                        <p><h5>Itinerary</h5>
                            <table class="package_itinerary col-sm-12">
                                    
                            </table>

                            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>

  
                    <div id="accordion">
                        <h3>Section 1</h3>
                        <div>
                          <p>
                          Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                          ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                          amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                          odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                          </p>
                        </div>
                        <h3>Section 2</h3>
                        <div>
                          <p>
                          Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                          purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                          velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                          suscipit faucibus urna.
                          </p>
                        </div>
                        <h3>Section 3</h3>
                        <div>
                          <p>
                          Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                          Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                          ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                          lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                          </p>
                          <ul>
                            <li>List item one</li>
                            <li>List item two</li>
                            <li>List item three</li>
                          </ul>
                        </div>
                        <h3>Section 4</h3>
                        <div>
                          <p>
                          Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                          et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                          faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                          mauris vel est.
                          </p>
                          <p>
                          Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                          inceptos himenaeos.
                          </p>
                        </div>
                      </div>
                        </p>
                    </div>
                </div>

                    <!-- <div class="col-sm-12" style="padding:0px;">
                    <p title="Close" class="close go_to_first_page">X</p>
    
                        <div style="background: white;" class="col-sm-12">
                            <center><h1 class="package_title">Title Of Package</h1></center>
                            <p class="package_category"></p>
                            <img class="img img-responsive image1_div col-sm-6" /><p class="second_page_package_details">In 2015, Azidah Nakazibwe took her four-year-old son to start school. She, however, was determined to have him just go to school for two years for Baby and Top classes even though the school advised that the child studies Middle class too. “First of all, kindergarten is expensive.</p>
                            <p><span class="package_price"></span> USD for <span class="package_duration"></span> days</p>
                            <p>Expiry: <span class="package_expiry"></span></p>
                            
                            Itinerary Section
                            <table class="package_itinerary">
                                
                            </table>
                        </div>
                </div> -->
            </div>
        </div>

<!-- MODAL -->
<div id="openModal" class="modalDialog">
  <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2 id='heading'>Fill In The Form Below To Book</h2>
      <img class="send_email_gif" src="static/assets/assets/demo_wait.gif" width="" height="">
      <form action="#" method="post" id="booking_form" name="booking_form" class="probootstrap-form probootstrap-form-box mb60">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="full_name" class="">Full Name</label>
              <input type="text" class="form-control" id="full_name" name="full_name" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="">
            </div>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone_number" class="">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="number_of_nights" class="">Number Of Nights</label>
                  <input type="number" class="form-control" id="number_of_nights" name="number_of_nights" placeholder="">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="form-group">
                <label for="number_of_adults" class="">Number Of Adults</label>
                <input type="number" class="form-control" id="number_of_adults" name="number_of_adults" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="number_of_children" class="">Number Of Children</label>
                  <input type="number" class="form-control" id="number_of_children" name="number_of_children" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="respetive_ages_of_the_children" class="">Respective Ages Of The Children</label>
                  <input type="text" class="form-control" id="respetive_ages_of_the_children" name="respetive_ages_of_the_children" placeholder="E.g. 2,5,8,9">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="holiday_type" class="">Holiday Type</label>
                <select class="form-control" name="select_categories" id="select_categories" required>
                    <!-- This is where the options of categories are going -->
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="room_type" class="">Room Type</label>
                  <input type="text" class="form-control" id="room_type" name="room_type" placeholder="">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="departing_on" class="">Departing On</label>
                <input type="date" class="form-control" id="departing_on" name="departing_on" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="returning_on" class="">Returning On</label>
                  <input type="date" class="form-control" id="returning_on" name="returning_on" placeholder="">
              </div>
            </div>
          </div>
        <div class="form-group">
          <span class="btn btn-primary" id="book_now_button">Book Now</span>
        </div>
      </form>

  </div>
</div>