<section class="" id="section-packages">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="jumbotron image1 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button">Book Package</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron image2 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button">Book Package</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron image3 carousel-hero">
                                <p>&nbsp;</p>
                                <h1 class="hero-title">Hero Nature</h1>
                                <p>&nbsp;</p>
                                <!-- <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                                <p><a href="#openModal" id="button" class="btn btn-primary btn-lg hero-button" role="button">Book Package</a></p>
                            </div>
                        </div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
                    <ol
                        class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                </div>
      </section>


        <div class="description" id="description">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5" style="padding: 0px;">
                        <img class="img img-responsive image1_div col-sm-12" />
                    </div>
                    <div class="col-sm-7" style="padding: 0px;">
                        <p><h5>Categories Available In This Package:</h5> <span class="package_category"></span></p>
                        <p><h5>Price:</h5><span class="package_price"></span> USD for <span class="package_duration"></span> days</p>
                        <p><h5>Details:</h5><span class="second_page_package_details"></span></p>
                        <p><h5>Itinerary</h5>
                            <table class="package_itinerary col-sm-12">
                                    
                            </table>
                        </p>
                    </div>
                </div>

                    <!-- <div class="col-sm-12" style="padding:0px;">
                    <p title="Close" class="close go_to_first_page">X</p>
    
                        <div style="background: white;" class="col-sm-12">
                            <center><h1 class="package_title">Title Of Package</h1></center>
                            <p class="package_category"></p>
                            <img class="img img-responsive image1_div col-sm-6" /><p class="second_page_package_details">In 2015, Azidah Nakazibwe took her four-year-old son to start school. She, however, was determined to have him just go to school for two years for Baby and Top classes even though the school advised that the child studies Middle class too. “First of all, kindergarten is expensive.</p>
                            <p><span class="package_price"></span> USD for <span class="package_duration"></span> days</p>
                            <p>Expiry: <span class="package_expiry"></span></p>
                            
                            Itinerary Section
                            <table class="package_itinerary">
                                
                            </table>
                        </div>
                </div> -->
            </div>
        </div>



<!-- MODAL -->
<div id="openModal" class="modalDialog">
  <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2 id='heading'>Fill In The Form Below To Book</h2>
      <form action="#" method="post" id="booking_form" name="booking_form" class="probootstrap-form probootstrap-form-box mb60">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="full_name" class="sr-only sr-only-focusable">Full Name</label>
              <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="sr-only sr-only-focusable">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone_number" class="sr-only sr-only-focusable">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="number_of_nights" class="sr-only sr-only-focusable">Email</label>
                  <input type="number" class="form-control" id="number_of_nights" name="number_of_nights" placeholder="Number Of Nights">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="number_of_adults" class="sr-only sr-only-focusable">Number Of Adults</label>
                <input type="number" class="form-control" id="number_of_adults" name="number_of_adults" placeholder="Number Of Adults">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="number_of_children" class="sr-only sr-only-focusable">Number Of Children</label>
                  <input type="number" class="form-control" id="number_of_children" name="number_of_children" placeholder="Number Of Children">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="holiday_type" class="sr-only sr-only-focusable">Holiday Type</label>
                <select class="form-control" name="select_categories" id="select_categories">
                    <!-- This is where the options of categories are going -->
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="room_type" class="sr-only sr-only-focusable">Room Type</label>
                  <input type="text" class="form-control" id="room_type" name="room_type" placeholder="Room Type">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="departing_on" class="sr-only sr-only-focusable">Departing On</label>
                <input type="date" class="form-control" id="departing_on" name="departing_on" placeholder="Departing On">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="returning_on" class="sr-only sr-only-focusable">Returning On</label>
                  <input type="date" class="form-control" id="returning_on" name="returning_on" placeholder="Returning On">
              </div>
            </div>
          </div>
        <div class="form-group">
          <span class="btn btn-primary" id="book_now_button">Book Now</span>
        </div>
      </form>

  </div>
</div>